<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editar tarefa</h1>

  <%= render "form", user_backoffice_task: @user_backoffice_task %>

  <%= link_to "Voltar", user_backoffice_tasks_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
